*{
  margin: 0;
  padding: 0;
}

.webtop{
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5000;
}

.logo img{
  width: 150px;
  height: auto;
  flex:auto;
}


.logo ul li{
  display: inline-block;
}

.logo a{
  margin: 0;
  padding: 0;
  display: flex;
}

.info ul{
  display: flex;
  justify-content: center;
  float: right;
  list-style: none;

}

.info a{
  color: black;
  font-size: 10px;
  text-decoration: none;
  margin-left: 10px;
}

.info a:hover{
  color: blue;
  text-decoration: underline;
}

main{
  background-color: white;
  height: auto;
  width: auto;
}

.main-container{

  flex: unset;
}

.main-container .banner {
  position: relative;
  margin-bottom: 20px;
}

.main-container .banner img{
  width: auto;
  height: 200px auto;
  padding: 40;
}

.banner-content{
  left: 40px;
  color: white;
  position: absolute;
  bottom: 40px;
  margin-top: 50px;
}

article.find{
  text-align: center;
  margin-top: 40px;
}

fieldset{
  border: 0;
}

#comments{
  border: 0px;
  background-color:lightgray; 
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}

button{
  border: 0;
  background-color: white;
}

.sticky-nav{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 4000;
  margin: 100px auto;
  padding: 10px 0;
  width: 90%;
  text-align: center;
  transition: background-color 1s ease;
}

.sticky-nav ul li lable div img::first-letter{
  border: 3px solid rgb(44, 44, 137);
}

.sticky-nav ul li label div{
  margin: 0;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

.sticky-nav ul{
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.sticky-nav li{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
}


.sticky-nav img:hover{
  background-color: skyblue;
}

.sticky-nav img{
  width: 81.99px;
  height: 81.99px;
  margin-bottom: 0px 0px 16px;
  background-color: #f3f5fa;
  border-radius: 5px;
}

.sub-banner{
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  padding: 5px;
  gap: 20px;
  flex-wrap: wrap;
}

.sub-banner .cards{
  width: 30%;
  border-radius: 15px;
  background-color: white;
  transition: transform 1s ease;
}

.sub-banner .cards img{
  width: 100%;
  height: auto;
  display: block;
  margin-left: 5px;
  border-radius: 15px;
}

.sub-banner .card-text{
  margin-top: 10px;
  margin: 8px;
  display: flex;
  padding: 2px;
}

.sub-banner .card-text strong{
  font-weight: bold;
  color: steelblue;
}

.sub-banner .card-header{
  font-weight: bold;
  margin: 8px;
  padding: 2px;
}

.sub-banner .cards .card-text-side{
  color: gray;
  font-size: 14px;
}


.sub-banner .cards:hover{
  transform: scale(1.1 ,1.1);
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-num, .pagebutton {
  text-decoration: none;
  background-color: white;
}

.page-num{
  text-align: center;
  padding: 10px;
  color: black;
}

.pagebutton{
  background-color: silver;
  color: azure;
  transition: transform 1s ease;
}

.pagebutton:hover{
  transform: scale(1.1, 1.1);
  background-color: skyblue;
  color: black;
}

footer{
  background-color: #f3f5fa;
}

.footer--text-box{
  padding: 40px;
  color: #8d9299;
  text-align: left;
}
